.promo__content {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
    max-width: 768px;
}

@media (max-width: 500px) {
    .promo__content {
        font-size: 18px;
        line-height: 24px;
    }
}

@media (max-width: 380px) {
    .promo__content {
        font-size: 14px;
        line-height: 24px;
    }
}