.partners__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

@media (max-width: 430px) {
    .partners__block {
        align-content: center;
        flex-direction: column;
    }
}