.promo__overlay {
        width: 100%;
        min-height: calc(100vh + 80px);
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
}